p Problems? Ideas? Email <a href="mailto:litedoge111@gmail.com">litedoge111@gmail.com</a>.
p Donate to <a href="LiteDoge:dN8MWg5MUfDo9QmPY8Loi1KYkNNkvE6apb">dN8MWg5MUfDo9QmPY8Loi1KYkNNkvE6apb</a>.
p Code hosted on <a href="https://github.com/vashshawn/Litedoge-Web-Miner" target="_blank">GitHub</a>.
